body{
  background-image: url("Index Picture/Porter:RC:Oakes:Ocean.jpeg");
  background-size: 100%;

}

 #PorterImage{
  max-width:100%;
  height:auto;
  
 }

 #UCSCBox{

  width:500px;
  height: 250px;
  background-color:#C7D69E;
  

 }