body{
    background-color:#C7D69E;
}

 /*
 This makes it horizontal
 */
 .header {
    padding: 0 70px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#A8BF66;
    border-style:outset;
    border-color: #5A6047;
  }

.logo{
    font-family:"Raleway","consolas", "sans-serif";
    
}

.nav {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 60px;
    list-style-type: none;
    margin-top: 26px;
    font-family: "EB Garamond", "consolas", sans-serif;
  }

.nav li a {
    text-decoration: none;
    color: darkgreen;
    font-size: 1.2rem;
  }